.wrapper {
  width: 100%;
  margin: 5rem auto;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.counter-element {
  display: inline-block;
  align-items: center;
  margin: 1rem;
  font-size: 2rem;
}

.reset-button-wrapper {
  width: 100%;
}
